<h2 class="text-muted">
  <% if @posts.any? %>
    <%= pluralize(@posts.count, 'resuldado') %> encontrados.
  <% else %>
    <h2 class="text-center"> Nenhum resuldado encontrado =( </h2>
  <% end %>
</h2>

<% @posts.each do |post| %>
  <%= render(post) %>
<% end %>